<h1>Most awesome app</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <img src="http://www.myclassiclyrics.com/artist_biographies/images/Carl_Sagan_Biography.jpg" class="img-responsive thumbnail" alt="Carl Sagan">
    </div>

    <div class="col-md-8">
       <div class="row">
          <h2>Carl Sagan <font size="1">Member since 1970</font></h2>
          <p> Carl Edward Sagan was an American astronomer, cosmologist, astrophysicist, astrobiologist, author, science popularizer, and science communicator in astronomy and other natural sciences. His contributions were central to the discovery of the high surface temperatures of Venus. However, he is best known for his contributions to the scientific research of extraterrestrial life, including experimental demonstration of the production of amino acids from basic chemicals by radiation.</p>

          <div>
            <dl class="dl-horizontal">
              <dt>Location:</dt>
              <dd>Brooklyn</dd>
            </dl>
          </div>

            <p><strong>Completion:</strong></p>

          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">95%
              <!-- <span class="sr-only">95% Complete (success)</span> -->
            </div>
          </div>

        </div>
    </div>
  </div>





